@import url(color-themes.css);

/* body Stykesheet */
 body {
    background: var(--background-color);
    margin: 0;
    padding: 0;
   
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: normal;
   font-weight: normal;
   color: var(--body-text-color);
 }

 .body-grid-container{
    position: relative;
    width: auto;
    height: auto;
 }