@import url(color-themes.css);

/* body Stykesheet */
body {
   background: white;
   margin: 0;
   padding: 0;
   
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-style: normal;
   font-weight: normal;
   color: var(--body-text-color);
}

.body{
   background: var(--background-color);
}

.body-grid-container{
   position: relative;
   width: auto;
   height: auto;

   display: grid; 
   grid-template-columns: 10em 1fr 10em; 
   grid-template-rows: 0fr 1fr 1fr 1fr 1fr 1fr; 
   gap: 3em 0px; 
   grid-template-areas: 
      "navbar navbar navbar"
      ". Headshots ."
      ". About ."
      ". Resume ."
      ". Reels ."
      ". Contacting ."; 
}

.navbar { grid-area: navbar; }
.Headshots { grid-area: Headshots; }
.About { grid-area: About; }
.Resume { grid-area: Resume; }
.Reels { grid-area: Reels; }
.Contacting { grid-area: Contacting; }

.container {
   display: grid; 
   grid-template-columns: 1fr; 
   grid-template-rows: 1fr; 
   gap: 0px 0px; 
   grid-template-areas: 
      "body" 
}

 .body { grid-area: body; }
