.Contacting{
    margin: auto;
}

.contact-title{
    text-decoration: underline;
}

.field {
    margin-bottom: 10px;
}
  
.field input {
    display: block;
    width: 19em;
    line-height: 2;
    font-size: 1.5em;
    color: white;
    background-color: black;
}
  
#Message textarea{
    display: block;
    width: 17.6em;
    height: 7.7em;
    line-height: 2;
    font-size: 2em;
    color: white;
    background-color: black;
    
}
  
input[type="submit"] {
    display: block;
    padding: 6px 30px;
    font-size: 1em;
    background-color: black;
    color: white;
    border: 1px solid white;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}