@import url(color-themes.css);

/* .Headshots a{
    display: inline;
} */

.headshot-grid-container {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 2em; 
    grid-template-areas: 
      "Head1 Head2 Head3"
}

.H1 {grid-area: Head1;}
.H2 {grid-area: Head2;}
.H3 {grid-area: Head3;}

.Headshots div img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    border: 1px solid white;
}

.H2 img{
    width: 100%;
    height: auto;
}
